header{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	color: #fff;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	font-size: 0.28rem;
	border-bottom: 0.01rem solid #f4f4f4;
	background-color: #b61c25;
}
/*详情头部*/
.title_top{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	color: #fff;
	text-align: center;
	background-color: #b61c25;
}
.title_top span{
	width: 32%;
    height: 1rem;
    float: left;
    font-size: 0.34rem;
}
.title_top a.title_top_first{
	width: 32%;
	height: 0.85rem;
	float: left;
	text-align: left;
	margin-left: 3%;
}
.title_top .hea_img{
	width: 0.5rem;
	height: 0.5rem;
	vertical-align: middle;
}
/*内容*/
.main{
	width: 100%;
	height: auto;
	margin-top: 1rem;
}
.main_pass{
	width: 100%;
}
.main_pass ul{
	width: 100%;
	padding: .42rem .3rem 0;
	font-size: .28rem;
}
.main_pass ul li label{
	margin-left: .2rem;
	color: #333;
	font-weight: 600;
}
.main_pass ul li .input_box{
	width: 100%;
	color: #999;
	height: .9rem;
	border: .01rem solid #ebebeb;
	border-radius: .1rem;
	background: #fff;
	margin-top: .22rem;
}
.main_pass ul li .input_box img{
	width: .28rem;
	height: .32rem;
	margin: 0 .2rem;
}
.main_pass ul li .input_box input{
	border:none;
	width: 88%;
	height: .9rem;
	line-height: .9rem;
	background: transparent;
}
.main_pass ul li+li{
	margin-top: .3rem;
}
.pass_btn{
	width: 100%;
	text-align: center;
}
.pass_complete{
	width: 2.4rem;
	height: .84rem;
	font-size: .36rem;
	text-align: center;
	line-height: .84rem;
	background: #ebebeb;
	color: #b3b3b3;
	border-radius: .1rem;
	margin-top: .8rem;
	
}
/*弹框*/
.warm_title{
	text-align: center;
	border-bottom: .01rem solid #ebebeb;
}
.warm_title h4{
	margin: 0;
	font-size: .3rem;
	color: #333;
	margin-top:.34rem;
}
.warm_title p{
	margin: 0;
	font-size: .26rem;
	color: #666;
	margin-bottom: .34rem;
}
.warm_choose a{
	display: inline-block;
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	font-size: .32rem;
}
.warm_login{
	color: #b61c25;
	
}